

@media (max-width: 600px) {
   
.texto-noticia
{
padding: 10%!important;
}

}

@media (max-width: 800px) {

.icon-bajar    
{
display: none;
}

}


h1
{
font-family: 'Raleway', sans-serif !important;    
font-weight: bold;
}

h2,h3,p
{
font-family: 'Raleway', sans-serif !important;    
}
h2
{
font-weight: 200!important;
}


#logo-principal
{
width: 60%;
}

.encabezado
{
background-image: url("../img/spa-encabezado.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: aqua;
width: 100%;
height: 300px;
-webkit-box-shadow: -1px 4px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 4px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px 4px 5px 0px rgba(50, 50, 50, 0.75);

}


#container
{
margin: 0 20%;
}

#titulo-articulo
{
position: absolute;
top:20%;
left: 20%;
width: 500px;
font-size:37px;
}

figure
{
display: inline-block;
margin: 0;
}

.imagen-blog-2
{
width: 50%;
}

.imagen-blog-2
{
width: 50%;
}
.text-intro
{
font-weight: bold;
padding-top: 35px;
padding-bottom: 35px;    
}

#autor-img
{
border-radius: 50%;
width: 9%;
}
.autor
{
font-weight: 200; 
margin-right: 50px;
font-weight: bold;
border-top:1px #cccaca solid;
padding-top: 10px;
z-index: 0;
}


.margin-content
{
margin-top:55px;
margin-bottom:55px;
}
/*------------------------------------ footer-----------------------------------*/


footer
{
background-image: url("../../img/footer.jpg");
color: azure;
margin-left: 0!important;
margin-left: 0!important;
width: 100%;
margin-top:55px;
}

footer a
{
text-decoration: none;
color: #fff;
}

footer #texto-redes
{
font-family: 'Lobster Two', cursive;
font-size: 20px;
text-align: center;
}



